.content{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    /* background-color: red; */
}
.logoContent{
    background-color: #FF6000;
    padding: 5px 10px;
    border-radius: 0.5rem;
}
.logo{
    font-size: 1.5rem;
    color: #fff;
}
.menuContent a{
    margin-left: 1rem;
    padding: 5px 10px;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #454545;
    cursor: pointer;
}
.menuContent a.active{
    background-color: #FF6000;
    color: #fff;
}
.menuContent a:hover{
    background-color: #FF6000;
    color: #fff;
    transition: 0.3s ease;    
}
.menuContent a.active:hover{
    background-color: #aa4507;
    color: #fff;
}